@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background: #ffe480;
    --primary: #ff9600;
    --title-text-size: 2rem;
    --p-text-size: 1.25rem;
}

html {
    font-family: "Funnel Sans", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background);
    margin: 0;
    font-size: 13px;
}

#streak-container {
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: fixed;
}

#streak-flexbox {
    display: flex;
    align-items: center;
}

.streak-image {
    width: 3rem;
}

#streak-live {
    opacity: 0;
    z-index: 1;
    transition: all 1s;
    position: absolute;
}

#streak-num {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 3rem;
}

#title-container {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    z-index: 2;
}

.general-text {
    width: 45vw;
}

#title {
    font-size: var(--title-text-size);
    margin: 0;
}

#duolingo-pic {
    height: 75vh;
    border-radius: 16px;
    display: block;
    margin: 0;
    padding: 0;
}

#img-container {
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    transition: all 0.25s;
    padding: 0;
    margin: 0;
}

#img-container:hover {
    box-shadow: 0 0 25px #999999;
}

map {
    position: fixed;
    top: 20px;
}

area:hover {
    cursor: pointer;
}

p {
    margin: 0;
    font-size: var(--p-text-size);
}

#postman, #debord, #mcluhan {
    position: fixed;
    opacity: 0;
    transition: all 0.4s;
    padding: 1rem;
    background-color: var(--primary);
    z-index: -1;
    border-radius: 16px;
    box-shadow: 0 0 25px var(--primary);
    pointer-events: none;
}

/* #postman:hover, #debord:hover, #mcluhan:hover {
    opacity: 1;
} */

#postman, #debord {
    padding-right: 3rem;
    left: 2rem;
}

#mcluhan {
    padding-left: 3rem;
    right: 2rem;
    transform: translate(0, -50%);
}

#instructions {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

/* @media only screen and (min-width: 1725px) {
    html {
        font-size: 14px;
    }
} */

@media only screen and (max-width: 1700px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1525px) {
    html {
        font-size: 11px;
    }
    .general-text {
        width: 50vw;
    }
}

@media only screen and (max-width: 1425px) {
    html {
        font-size: 10px;
    }
    .general-text {
        width: 50vw;
    }
}

@media only screen and (max-width: 1375px) {
    html {
        font-size: 9px;
    }
    .general-text {
        width: 55vw;
    }
}

@media only screen and (max-width: 1275px) {
    html {
        font-size: 8px;
    }
    .general-text {
        width: 55vw;
    }
}

@media only screen and (max-width: 1150px) {
    html {
        font-size: 8px;
    }
    .general-text {
        width: 55vw;
    }
}

@media only screen and (max-width: 1100px) {
    html {
        font-size: 8px;
    }
    .general-text {
        width: 60vw;
    }
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 7px;
    }
    .general-text {
        width: 65vw;
    }
}