@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background: #58cc02;
    --title-text-size: 2rem;
    --p-text-size: 1.25rem;
}

html {
    font-family: "Funnel Sans", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background);
    margin: 0;
}

#title {
    font-size: var(--title-text-size);
    position: fixed;
    top: 1rem;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

#duolingo-pic {
    height: 75vh;
    border-radius: 16px;
    display: block;
    margin: 0;
    padding: 0;
}

#img-container {
    position: fixed;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    transition: all 0.25s;
    padding: 0;
    margin: 0;
}

#img-container:hover {
    box-shadow: 0 0 25px #204d00;
}

map {
    position: fixed;
    top: 20px;
}

area:hover {
    cursor: pointer;
}

p {
    margin: 0;
}

#mcluhan, #debord {
    position: fixed;
    left: 2rem;
    transform: translate(0, -50%);
    opacity: 0;
    transition: all 0.4s;
    padding: 1rem;
    padding-right: 3rem;
    background-color: #FF4B4B;
    z-index: -1;
    border-radius: 16px;
    box-shadow: 0 0 25px #204d00;
    font-size: var(--p-text-size);
}

#postman {
    position: fixed;
    right: 2rem;
    transform: translate(0, -50%);
    opacity: 0;
    transition: all 0.4s;
    padding: 1rem;
    padding-left: 3rem;
    z-index: -1;
    border-radius: 16px;
    background-color: #FF4B4B;
    box-shadow: 0 0 25px #204d00;
    font-size: var(--p-text-size);
}